<div class="main-container">
    <div class="header">
        <h1>Edit {{beer.name}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/users">Users</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/users/{{user._id}}">{{user.username}}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/users/{{user._id}}/breweries">BrewCheck</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/users/{{user._id}}/breweries/{{brewery._id}}">{{brewery.nameOfBrewery}}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/users/{{user._id}}/breweries/{{brewery._id}}/beers">Beers</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="/users/{{user._id}}/breweries/{{brewery._id}}/beers/{{beer._id}}">{{beer.name}}</a>
            </li>
            <li class=" breadcrumb-item ">Edit {{beer.name}}</li>
        </ol>
    </div>
    <div class="form-container">
        <form action="/users/{{user._id}}/breweries/{{brewery._id}}/beers/{{beer._id}}?_method=PUT " method="POST ">
            <div class="form-row">
                <label for="name">Name of Beer</label>
                <input type="text" name="name" value="{{beer.name}}" />
            </div>
            <div class="form-row">
                <label for="type">Type of Beer</label>
                <input type="text" name="type" value="{{beer.type}}" />
            </div>
            <div class="form-row">
                <label for="abv">ABV</label>
                <input type="number" name="abv" step="0.01" value="{{beer.abv}}" />
            </div>
            <div class="form-row">
                <span>Have you Tried this Place Yet?</span>
                <input type="radio" id="tried1" name="tried" value="Yup!">
                <label for="contactChoice1">Yup!</label>

                <input type="radio" id="tried2" name="tried" value="Not Yet!">
                <label for="contactChoice2">Not Yet!</label>
            </div>
            <div class="form-row">
                <label for="rating ">Rate This Beer! (10 is the best, 1 is the worst)</label>
                <input type="number " name="rating " value="{{beer.rating}}" />
            </div>
            <br>
            <button type="submit" class="btn greenBtn">Save Beer</button>
        </form>
        <br>
        <form action="/users/{{user._id}}/breweries/{{brewery._id}}/beers/{{beer._id}}?_method=DELETE " method="POST ">
            <button type="submit" class="btn redBtn">Delete Beer</button>
        </form>
    </div>
</div>