<h1>Here are the Popular Beers by {{brewery.nameOfBrewery}}</h1>

<ul>
    {{#each beers}}
    <li>
        <a href="/users/{{../user._id}}/breweries/{{../brewery._id}}/beers/{{this._id}}">{{name}}</a>
        </li>
    {{/each}}
</ul>

<a href="/users/{{userId}}/breweries/{{breweryId}}/beers/new"><button type="submit">Add New Beer</button></a>